In [1]:
import pandas as pd
import numpy as np

In [2]:
alpha_df = pd.read_csv('../data/alpha-diversity.tsv', delimiter='\t')
print(alpha_df.shape)

(20304, 2)

In [3]:
alpha_df.columns = ['sample_name', 'faith_pd']

In [4]:
alpha_df.head()

             sample_name  faith_pd
0   10317.000047146.4491  10.19535
1   10317.000022501.2988  15.02028
2   10317.000041609.3516  19.31883
3  10317.000082798.48742   4.99975
4  10317.000073297.50470   9.57143

In [5]:
def meta_df_id_clean(meta_df):
    meta_df['sample_id'] = meta_df['sample_name'].apply(lambda x: x.split('.')[1]) 
    meta_df['sample_id'] = pd.to_numeric(meta_df['sample_id'], errors='coerce', downcast='integer')
    meta_df_clean = meta_df.dropna(subset=['sample_id']).reset_index()
    meta_df_clean['sample_id'] = meta_df_clean['sample_id'].apply(lambda x: int(x))
    return meta_df_clean

In [6]:
alpha_df_clean = meta_df_id_clean(alpha_df)

In [7]:
alpha_df_clean.head()

   index            sample_name  faith_pd  sample_id
0      0   10317.000047146.4491  10.19535      47146
1      1   10317.000022501.2988  15.02028      22501
2      2   10317.000041609.3516  19.31883      41609
3      3  10317.000082798.48742   4.99975      82798
4      4  10317.000073297.50470   9.57143      73297

In [8]:
alpha_df_clean.to_csv('../data/alpha_div_all_body_sites_clean.csv', index=False)