In [1]:
import pandas as pd
import numpy as np

In [2]:
pca_df = pd.read_csv('../data/6.2.19.pca.data/raw_input_data/sample3000_pcoa_results.csv')
print(pca_df.shape)

(2909, 2910)

In [3]:
pca_df.head()

,index,PC1,PC2,PC3,PC4,PC5,PC6,PC7,PC8,PC9,...,PC2900,PC2901,PC2902,PC2903,PC2904,PC2905,PC2906,PC2907,PC2908,PC2909
0,10317.000065489.31503,-0.393590,0.027929,-0.036558,-0.050171,-0.125850,-0.024385,-0.028041,-0.012835,0.020061,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,10317.000069747.26478,-0.315788,0.062613,0.104440,0.033080,0.106680,0.126636,0.002741,-0.082590,-0.001562,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,10317.000023232.2982,-0.398081,0.068527,-0.015303,-0.031338,0.010249,0.015963,-0.013031,-0.052156,0.029381,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,10317.000051191.4491,-0.163050,0.041164,0.182212,0.053462,0.122172,0.124982,-0.078933,-0.064252,0.017721,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,10317.000031030.2982,-0.360036,-0.003247,-0.071989,-0.009543,-0.093841,-0.059679,-0.019837,-0.067975,0.083306,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [4]:
pca_df = pca_df[['index', 'PC1', 'PC2', 'PC3']]

In [5]:
pca_df.head(2)

                   index       PC1       PC2       PC3
0  10317.000065489.31503 -0.393590  0.027929 -0.036558
1  10317.000069747.26478 -0.315788  0.062613  0.104440

In [6]:
pca_df.columns = ['sample_name', 'PC1', 'PC2', 'PC3']

In [7]:
def meta_df_id_clean(meta_df):
    meta_df['sample_id'] = meta_df['sample_name'].apply(lambda x: x.split('.')[1])
    meta_df['sample_id'] = pd.to_numeric(meta_df['sample_id'], errors='coerce', downcast='integer')
    meta_df_clean = meta_df.dropna(subset=['sample_id']).reset_index()
    meta_df_clean['sample_id'] = meta_df_clean['sample_id'].apply(lambda x: int(x))
    return meta_df_clean

In [8]:
def biom_id_clean(biom_df):
    biom_df['sample_id'] = biom_df['sample_name'].apply(lambda x: x.split('.')[1])
    biom_df['sample_id'] = pd.to_numeric(biom_df['sample_id'], errors='coerce', downcast='integer')
    biom_join_df = biom_df.dropna(subset=['sample_id'])
    biom_join_df['sample_id'] = biom_join_df['sample_id'].apply(lambda x: int(x))
    return biom_join_df

In [9]:
pca_df = biom_id_clean(pca_df)

In [10]:
pca_df.head(2)

             sample_name       PC1       PC2       PC3  sample_id
0  10317.000065489.31503 -0.393590  0.027929 -0.036558      65489
1  10317.000069747.26478 -0.315788  0.062613  0.104440      69747

In [11]:
pca_df.shape

(2909, 5)

In [12]:
meta_df = pd.read_csv('../data/all_body_4.16.agp_only_meta.csv', low_memory=False)

In [13]:
print(meta_df.shape)

(22807, 326)

In [14]:
#meta_df.head()

In [15]:
meta_df = meta_df[['sample_id', 'env_material']]

In [16]:
PC2_df = pd.merge(pca_df, meta_df, on='sample_id')
print(PC2_df.shape)

(2909, 6)

In [17]:
PC2_df.env_material.value_counts()

sebum     1013
saliva     994
feces      902
Name: env_material, dtype: int64

In [18]:
PC2_df.head()

             sample_name       PC1       PC2       PC3  sample_id env_material
0  10317.000065489.31503 -0.393590  0.027929 -0.036558      65489        feces
1  10317.000069747.26478 -0.315788  0.062613  0.104440      69747        feces
2   10317.000023232.2982 -0.398081  0.068527 -0.015303      23232        feces
3   10317.000051191.4491 -0.163050  0.041164  0.182212      51191        feces
4   10317.000031030.2982 -0.360036 -0.003247 -0.071989      31030        feces

In [19]:
PC2_df = PC2_df[['sample_id', 'PC1', 'PC2', 'PC3', 'env_material']]

In [20]:
PC2_df.columns = ['sample_id', 'PC1', 'PC2', 'PC3', 'label']

In [21]:
PC2_df.label.value_counts()

sebum     1013
saliva     994
feces      902
Name: label, dtype: int64

In [101]:
PC2_df.to_csv('../../data/6.2.19.pca.data/output_data/beta_pcoa_3000sample.csv')